In [38]:
!pwd

/mnt

In [39]:
import pandas as pd
import os
pd.set_option('display.max_rows', 10)

In [61]:
#This file is the file downloaded from the BV-BRC website
genome_id_before_filtering = pd.read_csv('/home/ubuntu/raghuram/csv_files/ecoli.csv', 
                                         dtype={'Genome ID':'string'})

In [62]:
genome_id_before_filtering.shape

(58321, 21)

In [63]:
genome_id_before_filtering.head()

,Taxon ID,Genome ID,Genome Name,Antibiotic,Resistant Phenotype,Measurement,Measurement Sign,Measurement Value,Measurement Unit,Laboratory Typing Method,...,Laboratory Typing Platform,Vendor,Testing Standard,Testing Standard Year,Computational Method,Computational Method Version,Computational Method Performance,Evidence,Source,PubMed
0,562,562.96944,Escherichia coli VRES1184,cefotaxime,Resistant,4,NaN,4,mg/L,Broth dilution,...,VITEK 2,BioMerieux,EUCAST,NaN,NaN,NaN,NaN,Laboratory Method,NaN,34485958
1,562,562.99237,Escherichia coli 721a5d32-7bb9-11e9-a8d3-68b59...,ciprofloxacin,Resistant,NaN,NaN,NaN,NaN,Disk diffusion,...,NaN,NaN,EUCAST,NaN,NaN,NaN,NaN,Laboratory Method,NaN,NaN
2,562,562.98343,Escherichia coli 1724c2b4-7bb9-11e9-a8d3-68b59...,ciprofloxacin,Susceptible,NaN,NaN,NaN,NaN,Disk diffusion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laboratory Method,NaN,NaN
3,562,562.23301,Escherichia coli O1:H7 strain ECO0951,ciprofloxacin,Susceptible,NaN,NaN,NaN,NaN,Agar dilution,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laboratory Method,NaN,28720578
4,562,562.99693,Escherichia coli 5921994e-7bb9-11e9-a8d3-68b59...,ceftazidime,Resistant,NaN,NaN,NaN,NaN,Disk diffusion,...,NaN,NaN,EUCAST,NaN,NaN,NaN,NaN,Laboratory Method,NaN,NaN

In [64]:
amr_names = genome_id_before_filtering["Antibiotic"].unique()

In [65]:
amr_names

array(['cefotaxime', 'ciprofloxacin', 'ceftazidime', 'meropenem',
       'piperacillin_tazobactam', 'cefuroxime',
       'amoxicillin_clavulanic acid', 'ampicillin', 'gentamicin',
       'tigecycline'], dtype=object)

In [66]:
genome_id_unique = genome_id_before_filtering["Genome ID"].unique()

In [67]:
retain_cols = ["Genome ID", "Antibiotic", "Resistant Phenotype"]

In [68]:
genome_id_before_filtering = genome_id_before_filtering[["Genome ID", "Antibiotic", "Resistant Phenotype", "Genome Name"]]

In [69]:
for amr in amr_names:
    print("The antibiotic is {}".format(amr))
    genome_df = genome_id_before_filtering[genome_id_before_filtering["Antibiotic"] == amr]
    print(genome_df.shape)

    print(genome_df.groupby(["Resistant Phenotype"]).count())

The antibiotic is cefotaxime
(6316, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate                43          43           43
Resistant                 1159        1159         1159
Susceptible               5114        5114         5114
The antibiotic is ciprofloxacin
(7048, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate               116         116          116
Resistant                 1656        1656         1656
Susceptible               5276        5276         5276
The antibiotic is ceftazidime
(7048, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate               243         243          243
Resistant                  948         948          948
Susceptible               5857        5857         5857
The antibiotic is meropenem
(5409, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate                10          10           10
Resistant                   60          60           60
Susceptible               5339        5339         5339
The antibiotic is piperacillin_tazobactam
(6335, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate               194         194          194
Resistant                  289         289          289
Susceptible               5852        5852         5852
The antibiotic is cefuroxime
(5058, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate                11          11           11
Resistant                  753         753          753
Susceptible               4294        4294         4294
The antibiotic is amoxicillin_clavulanic acid
(4076, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate                94          94           94
Resistant                 1216        1216         1216
Susceptible               2766        2766         2766
The antibiotic is ampicillin
(5934, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate                13          13           13
Resistant                 3241        3241         3241
Susceptible               2680        2680         2680
The antibiotic is gentamicin
(7047, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate               168         168          168
Resistant                  756         756          756
Susceptible               6123        6123         6123
The antibiotic is tigecycline
(4050, 4)
                     Genome ID  Antibiotic  Genome Name
Resistant Phenotype
Intermediate                10          10           10
Resistant                    3           3            3
Susceptible               4037        4037         4037

In [29]:
genome_id_after_filtering = pd.read_csv("/mnt/klebsiella_pneumoniae/genomes/actual_data.csv", 
                                       dtype={"Genome ID": "string"})

In [30]:
genome_id_before_filtering["Genome ID"].unique().shape

(3358,)

In [31]:
genome_id_after_filtering["Genome ID"] = genome_id_after_filtering["Genome ID"].apply(lambda _: _.strip(".fa"))

In [32]:
actual_genomes_df = pd.merge(genome_id_after_filtering, genome_id_before_filtering, on="Genome ID", how="left")

In [33]:
actual_genomes_df.head()

,Genome ID,Antibiotic,Resistant Phenotype,Genome Name
0,1284787.3,trimethoprim_sulfamethoxazole,Resistant,Klebsiella pneumoniae UHKPC40
1,1284787.3,ceftazidime,Resistant,Klebsiella pneumoniae UHKPC40
2,1284787.3,meropenem,Resistant,Klebsiella pneumoniae UHKPC40
3,1284787.3,cefepime,Resistant,Klebsiella pneumoniae UHKPC40
4,1284787.3,piperacillin_tazobactam,Resistant,Klebsiella pneumoniae UHKPC40

In [34]:
len(actual_genomes_df["Genome ID"].unique())

2935

In [35]:
#Gene presence absence data
gpa_df = pd.read_csv("/mnt/klebsiella_pneumoniae/results/gene_presence_absence_filt_length_frag.Rtab", sep="\t")

In [36]:
gpa_df.head()

,Gene,1284787.3,1284788.3,1284789.4,1284790.3,1284791.4,1284792.4,1284793.4,1284794.4,1284795.4,...,72407.685,72407.686,72407.687,72407.689,72407.690,72407.692,72407.693,72407.698,72407.716,72407.732
0,gsk,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,yaeQ~~~yaeQ_2~~~yaeQ_1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,group_7080,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,hemH~~~hemH_1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,miaA~~~miaA_2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [37]:
gene_names = gpa_df["Gene"].tolist()

In [38]:
gpa_df.drop(columns=["Gene"], inplace=True)

In [39]:
gpa_df.head()

,1284787.3,1284788.3,1284789.4,1284790.3,1284791.4,1284792.4,1284793.4,1284794.4,1284795.4,1284796.3,...,72407.685,72407.686,72407.687,72407.689,72407.690,72407.692,72407.693,72407.698,72407.716,72407.732
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [40]:
gpa_df.T.index.name = "Genome ID"

In [41]:
gpa_df=gpa_df.T.reset_index()
gpa_df.head()

,Genome ID,0,1,2,3,4,5,6,7,8,...,40764,40765,40766,40767,40768,40769,40770,40771,40772,40773
0,1284787.3,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1284788.3,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1284789.4,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1284790.3,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1284791.4,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [42]:
#Get the genome IDs per AMR. Fetch data for those genome IDs from the "data_col" dataframe
for amr in actual_genomes_df["Antibiotic"].unique():
    print(amr)
    label_mapping = []
    amr_df = actual_genomes_df[actual_genomes_df["Antibiotic"] == amr]
    print("The number of genomes after filtering for {} is {}".format(amr, amr_df.shape[0]))
    genomes_per_amr = amr_df["Genome ID"].unique()
    output_df = gpa_df.loc[gpa_df['Genome ID'].isin(genomes_per_amr)]
    print("The number of genomes in the GPA matrix for {} is {}".format(amr,output_df.shape[0]))
    labels_per_amr = amr_df.loc[amr_df["Genome ID"].isin(genomes_per_amr)][["Genome ID", "Resistant Phenotype"]]
    print(labels_per_amr.shape)
    full_output = output_df.merge(labels_per_amr, how="inner", on="Genome ID", suffixes=["_op", "_labels"])
    print(full_output.shape)
    amr = amr.replace(" ","_")
    print(amr)
    filename='staphylococcus_gpa_'+amr+'_label.csv'
    full_output.to_csv(os.path.join("/mnt/klebsiella_pneumoniae", filename) ,index=False)

trimethoprim_sulfamethoxazole
The number of genomes after filtering for trimethoprim_sulfamethoxazole is 2534
The number of genomes in the GPA matrix for trimethoprim_sulfamethoxazole is 2524
(2534, 2)
(2534, 40776)
trimethoprim_sulfamethoxazole
ceftazidime
The number of genomes after filtering for ceftazidime is 2619
The number of genomes in the GPA matrix for ceftazidime is 2609
(2619, 2)
(2619, 40776)
ceftazidime
meropenem
The number of genomes after filtering for meropenem is 2754
The number of genomes in the GPA matrix for meropenem is 2745
(2754, 2)
(2754, 40776)
meropenem
cefepime
The number of genomes after filtering for cefepime is 2340
The number of genomes in the GPA matrix for cefepime is 2332
(2340, 2)
(2340, 40776)
cefepime
piperacillin_tazobactam
The number of genomes after filtering for piperacillin_tazobactam is 2321
The number of genomes in the GPA matrix for piperacillin_tazobactam is 2319
(2321, 2)
(2321, 40776)
piperacillin_tazobactam
aztreonam
The number of genomes after filtering for aztreonam is 2187
The number of genomes in the GPA matrix for aztreonam is 2187
(2187, 2)
(2187, 40776)
aztreonam
gentamicin
The number of genomes after filtering for gentamicin is 2907
The number of genomes in the GPA matrix for gentamicin is 2895
(2907, 2)
(2907, 40776)
gentamicin
amikacin
The number of genomes after filtering for amikacin is 2826
The number of genomes in the GPA matrix for amikacin is 2817
(2826, 2)
(2826, 40776)
amikacin
ciprofloxacin
The number of genomes after filtering for ciprofloxacin is 2902
The number of genomes in the GPA matrix for ciprofloxacin is 2892
(2902, 2)
(2902, 40776)
ciprofloxacin
ceftriaxone
The number of genomes after filtering for ceftriaxone is 2292
The number of genomes in the GPA matrix for ceftriaxone is 2283
(2292, 2)
(2292, 40776)
ceftriaxone

In [39]:
full_output.head()

,Genome ID,0,1,2,3,4,5,6,7,8,...,31021,31022,31023,31024,31025,31026,31027,31028,31029,Resistant Phenotype
0,1280.10948,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Susceptible
1,1280.10994,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Susceptible
2,1280.11011,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Susceptible
3,1280.11024,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Susceptible
4,1280.11026,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,Susceptible